* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

#section-container {
    display: flex;

}

/*section-info*/
#section-info {
    display: inline-block;
    width: 54.3%;
    padding: 1.5rem 3rem;
    text-align: left;
}

.brand {
    display: flex;
    align-items: center;
    margin-bottom: .8em;

}

.brand img {
    margin-top: 10px;
    margin-left: 20px;
    height: 50px;
}

.brand h1 {
    display: flex;
    margin-left: 1rem;
    font-size: 1.5rem;

}

#section-container #exclusive {
    color: #0075ff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: .9rem;
}

#section-info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#date {
    color: #aaa;
    margin-bottom: 1rem;
}

#section-info p,
h2,
h3 {
    margin: 5px;
    margin-bottom: 1rem;

}

#section-info p {
    font-size: 1rem;
}

/*seção de usuarios*/
.users-container {
    display: flex;
    flex-wrap: wrap;
}

.user-card {
    border: 2px solid #ccc;
    padding: 1rem;
    width: 162px;
    margin: .2rem;
    text-align: center;
}
.user-card img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}


/*Seção de Inscrição*/

#form-container {
    background-image: url('../img/pattern.png');
    width: 45%;
    background-size: cover;
    color: #fff;
}

.form-inner {
    border: 2px solid #fff;
    margin: 40px;
    padding: 30px;

}

.form-inner h3 {
    text-align: center;
    font-size: 2em;
}

.form-inner p {
    text-align: center;
    font-size: 1em;
    padding: 6px;
    margin-bottom: 10px;
}

.register-form {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 8px;
}

.register-form input {
    box-sizing: border-box;
    padding: 12px;
    border-radius: 3px;
    border: none;
    margin: 6px 4px;
    width: 100%;

}

.register-form input[type=button] {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: .5s;
}

.register-form input[type=button]:hover {
    background-color: #fff;
    color: #0075ff;
    font-weight: bolder;
}

.benefits h4 {
    font-size: 20px;
}

.benefits h4,
ul li {
    padding-bottom: 10px;
}

.benefits ul {
    list-style-position: inside;
}

@media screen and (max-width:768px) {

    #section-container {
        display: block;
    }

    .brand {
        align-items: center;
        margin-bottom: .8em;

    }

    .brand h1 {
        font-size: 2em;

    }

    #section-info {
        width: 100%;
    }

    #section-container #exclusive {
        font-size: 1.2em;
    }

    #section-info h2 {
        font-size: 2em;
    }

    #section-info #date {
        font-size: 1.2em;
    }

    #section-info p {
        font-size: 1.5em;
    }

    /*seção de usuarios*/
    .users-container h3 {
        font-size: 2em;
    }

    .user-card {
        margin: 1em 0;
        width: 100%;
        height: 400px;

    }

    .user-card img {
        margin-top: 2em;
        height: 200px;
        width: 200px;
    }

    .user-card h4 {
        padding: 8px 0;
        font-size: 1.6rem;
    }

    /*Formulário*/
    #form-container {
        width: 100%;
        height: 100vh;
        background-size: cover;
        padding-top: 1em;

    }
    .form-inner{
        padding: 2rem;
        margin: 1rem;
    }

    .form-inner h3 {
        font-size: 2em;
    }

    .form-inner p {
        font-size: 1em;

    }


}